/* common */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Noto Serif", sans-serif;
    }

/* font */
.font-inter{
    font-family: "Inter", sans-serif;
}

/* Primary Color */
.primary-color {
    color: #E95A08;
}

/* Secondary Color */
.secondary-color {
    color: #8987A1;
}

/* icon gap */
.icon-gap{
    margin-right: 10px;
}

/* Container */
.container {
    max-width: 1140px;
    margin:  auto;
}

/* Header */
header{
    margin-top: 25px;
}

    /* navbar items  */
    .navbar {
        margin-bottom: 120px;
    }

    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    nav ul {
        display: flex;
        gap: 48px;
    }

    nav li {
        margin: 0 15px;
        text-decoration: none;
    }

    nav a {
        text-decoration: none;
        color: #333;
        font-weight: bold;
        font-family: Arial;
    }

/* Banner */
.banner {
    height: 416px;
    align-items:end;
    justify-content: space-between;
    margin-bottom: 120px;
}

    .banner-content {
        width: 570px;
        height: 296px;
    }

    .banner-content h1{
        font-size: 65px;
        line-height: 1.1;
        font-weight: 700;
    }

    .banner-content p{
        font-size: 22px;
        line-height: 1.5;
        font-family: "Inter", sans-serif;
        margin-top: 13px;
        color: rgba(0, 0, 0, 0.5);
    }

/* Plants Container */
.our-plants{
    width: 888px auto;
    margin-bottom: 212px;
}

.our-plants-content{
    text-align: center;
    margin-bottom: 50px;
}

.our-plants-content h1{
        font-size: 65px;
        line-height: 1.1;
        font-weight: 700;
}

.our-plants-content p{
        font-size: 22px;
        line-height: 1.5;
        font-family: "Inter", sans-serif;
        margin-top: 16px;
        color: rgba(0, 0, 0, 0.5);
}

/* plants cards */
.our-plants-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    justify-content: space-between;
    align-items: center;
}

.plants-card{
    width: 270px;
    height: 485px;
    text-align: center;
}

.plants-card img{
    width: 100%;
    height: 322px;
    object-fit: cover;
    margin-bottom: 30px;
}

.plants-card h3{
    font-family:"Inter", sans-serif;
    color: #111111;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 2 0px;
}

.plants-card h2{
    font-family:"Inter", sans-serif;
    color: #111111;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 30px;
}

.btn-add-to-cart{
    background-color: #E95A08;
    color: #fff;
    border: none;
    font-size: 16px;
    font-weight: 600;
    font-family:"Inter", sans-serif;
    width: 270px;
    height: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.btn-add-to-cart:hover{
    background-color: #d85a08;
    cursor: pointer;
}