/* common */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Noto Serif", sans-serif;
    }

/* font */
.font-inter{
    font-family: "Inter", sans-serif;
}

/* Primary Color */
.primary-color {
    color: #E95A08;
}

/* Secondary Color */
.secondary-color {
    color: #8987A1;
}

/* icon gap */
.icon-gap{
    margin-right: 10px;
}

/* center */
.center{
    align-items: center ;
    text-align: center;
}

/* Container */
.container {
    max-width: 1140px;
    margin:  auto;
}

/* Header */
header{
    margin-top: 25px;
}

    /* navbar items  */
    .navbar {
        margin-bottom: 120px;
    }

    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    nav ul {
        display: flex;
        gap: 48px;
    }

    nav li {
        margin: 0 15px;
        text-decoration: none;
    }

    nav a {
        text-decoration: none;
        color: #333;
        font-weight: bold;
        font-family: Arial;
    }

/* Banner */
.banner {
    height: 416px;
    align-items:end;
    justify-content: space-between;
    margin-bottom: 120px;
}

    .banner-content {
        width: 570px;
        height: 296px;
    }

    .banner-content h1{
        font-size: 65px;
        line-height: 1.1;
        font-weight: 700;
    }

    .banner-content p{
        font-size: 22px;
        line-height: 1.5;
        font-family: "Inter", sans-serif;
        margin-top: 13px;
        color: rgba(0, 0, 0, 0.5);
    }

/* Plants Container */
.our-plants{
    margin-bottom: 212px;
}

.our-plants-content{
    margin-bottom: 50px;
    width: 888px ;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.our-plants-content h1{
        font-size: 65px;
        line-height: 1.1;
        font-weight: 700;
}

.our-plants-content p{
        font-size: 22px;
        line-height: 1.5;
        font-family: "Inter", sans-serif;
        margin-top: 16px;
        color: rgba(0, 0, 0, 0.5);
}

/* plants cards */
.our-plants-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px 20px;
    justify-content: space-between;
    align-items: center;
}

.plants-card{
    width: 270px;
    height: 485px;
    text-align: center;
}

.plants-card img{
    width: 100%;
    height: 322px;
    object-fit: cover;
    margin-bottom: 30px;
}

.plants-card h3{
    font-family:"Inter", sans-serif;
    color: #111111;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 2 0px;
}

.plants-card h2{
    font-family:"Inter", sans-serif;
    color: #111111;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 30px;
}

.btn-add-to-cart{
    background-color: #E95A08;
    color: #fff;
    border: none;
    font-size: 16px;
    font-weight: 600;
    font-family:"Inter", sans-serif;
    width: 270px;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.btn-add-to-cart:hover{
    background-color: #d85a08;
    cursor: pointer;
}

/* plants-lover-container */
.plants-lover-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 120px;
}

.plants-lover{
    width: 540px;
    height: 597px;
    position: relative;
    width: fit-content; 
}

.plants-lover-content{
    width: 540px;
    height: 520px;
}

.plants-lover-content h1{
    font-weight: 700;
    font-size: 50px;
}

.plants-lover-content ul {
    padding-left: 30px; 
}

.plants-lover-content li{
    list-style-type: circle;
    list-style-position: outside;
    font-size: 22px;
    line-height: 1.5;
    font-family: "Inter", sans-serif;
    margin-top: 16px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
}

#Experience-logo{
    width: 286px ;
    height: 286px ;
    position: absolute;
    top: -150px; 
    left: 350px;
    filter: drop-shadow(5px 5px 10px rgba(113, 90, 19, 0.494));
}

/* Latest Deals */
.latest-deals {
    text-align: center;
    margin-bottom: 120px;
}

.latest-deals-content{
    width: 888px;
    margin: 0 auto;
}

.latest-deals h1 {
    font-size: 65px;
    line-height: 1.1;
    font-weight: 700;
}

.latest-deals p {
    font-size: 22px;
    line-height: 1.5;
    font-family: "Inter", sans-serif;
    margin-top: 16px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
}


/* promo card */
.promo-container {
    display: flex;
    gap: 30px;
    margin: auto;
    height: 423.13px;
}

.promo-left {
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex: 1;
}

.promo-box{
    height: 423.13px;
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;  
    justify-content: center; 
    text-align: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), var(--bg-image);
}

.promo-right {
    flex: 2;
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), var(--bg-image);
}

.promo-right a{
    font-size: 28px;
}

.promo-text {
    color: #fff;
    text-align: center;
    align-items: center ;
    display: grid;
    z-index: 1; 
}

.promo-text.center {
    position: relative;
    bottom: auto;
    left: auto;
    text-align: center;
}

.promo-text h3{
    font-weight: bold;
}

.promo-text h2{
    font-size: 40px;
    font-weight: bold;
}

.shop-btn {
    display: inline-block;
    margin-top: 19px;
    font-weight: 500;
    text-decoration: underline;
    font-family: "inter", sans-serif;
    color: #fff; 
}

.shop-btn:hover {
  background-color: #ffffff44;
  border-radius: 20px; 
}

/* join bunch */
.join-bunch-background {
    background-image: url(./assets/news-letter-bg.png);
    height: 533px;
    width: 100%;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;  
    align-items: center;     
    flex-direction: column; 
    margin-bottom: 50px;
    margin-top: 120px;
}

.join-bunch-background h1 { 
    font-weight: 700;
    font-size: 68px;
    color: #fff;
    text-align: center;
    margin-bottom: 30px;
}

.subscription-form {
    display: flex; 
    width: 100%;
    max-width: 830px;
}

.email-input {
    flex-grow: 1;
    height: 50px;
    padding: 0 20px;
    background-color: #ffffff;
    color: rgba(0, 0, 0, 0.5);
    border: none;
    outline: none; 
    font-size: 16px;
    font-weight: 600;
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
}

.subscribe-button {
    background-color: #E95A08;
    color: #fff;
    border: none;
    font-size: 16px;
    font-weight: 600;
    font-family: "Inter", sans-serif;
    width: 186px;
    height: 50px;
    white-space: nowrap;
    cursor: pointer;
    box-sizing: border-box;
}

/* footer */
footer {
    margin-top: 50px; 
    margin-bottom: 50px;
}

.footer-content {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start;       
}

.footer-logo {
    max-width: 360px; 
}

.footer-logo p {
    line-height: 1.7;
    margin-top: 20px;
    font-size: 22px;
    width: 359px; 
    font-family: "Inter", sans-serif;
}

.footer-links {
    list-style: none;
}

.footer-links li {
    margin-bottom: 32px;
}

.footer-links li a {
    text-decoration: none;
    font-family: "Inter", sans-serif;
}

.footer-links li a:hover {
    text-decoration: underline;
}


.footer-socials {
    display: flex;
    gap: 24px;
}

.footer-socials img{
    width: 36px;
    height: 36px;
}

.icon-twitter{
    padding: 9px;
}



/* -------------------mobile view------------------- */
@media (max-width: 768px) {
    .mobile-content {
        margin: 16px;
    }

/* navbar */
.navbar{
    margin: 0%;
}

.navbar-items li {
    display: none; 
}

.navbar-items li:last-child {
    display: block; 
}

/* banner */
.banner {
    display: flex; 
    flex-direction: column; 
    display:flexbox;
}

.banner-img {
    order: 1; 
    margin-bottom: 20px;
    width: 100%;
}

.banner-content {
    order: 2;
    width: 100%;
}

.banner-content h1 {
    font-size: 1.5rem; 
}

.banner-content p {
    font-size: 0.875rem;
}

/* our plants */
.our-plants-content {
    max-width: 100%;
    margin-top: 60px;
    text-align: center;
}

.our-plants-content h1 {
    font-size: 2.2rem;
}

.our-plants-content p {
    font-size: 0.9rem;
    padding: 0 16px; 
}

/* Plants Card */
.our-plants-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center; 
    align-items: center;
    text-align: center;
    width: 100%;
    gap: 16px;
}

.plants-card{
    width: 171px;
    height: 340.5px;
}

.plants-card img{
    width: 100%;
    height: 196.5px;
    object-fit: cover;
    margin-bottom: 30px;
}

.plants-card h3{
    font-family:"Inter", sans-serif;
    color: #111111;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 0px;
}

.plants-card h2{
    font-family:"Inter", sans-serif;
    color: #111111;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.btn-add-to-cart{
    background-color: #E95A08;
    color: #fff;
    border: none;
    font-size: 14px;
    font-weight: 600;
    font-family:"Inter", sans-serif;
    width: 171px;
    height: 40px;
}



/* Plants Lover */
    .plants-lover-container {
    width: 100%; 
    box-sizing: border-box; 
    display: grid;
}

    .plants-lover-container img {
    width: 100%; 
    height: auto; 
    margin-bottom: 20px;
}

#Experience-logo {
    display: none;
}

/* plants lover content */
    .plants-lover-content {
    width: 100%; 
}
    .plants-lover-content h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.plants-lover-content ul {
    width: 100%; 
    padding-left: 20px;
    margin: 0;
}

.plants-lover-content ul li {
    font-size: 1rem;
    margin-bottom: 15px;
}

    /* Latest Deals */
    .latest-deals {
        margin: 0;
    }
    .latest-deals-content {
        max-width: 100%;
    }

    .latest-deals-content h1 {
        font-size: 2.5rem;
    }

    .latest-deals-content p {
        font-size: 0.9rem;
    }

    /* promo card  */
    .promo-container {
        flex-direction: column;
        margin-top: 0;
        height: auto;
    }

    .promo-box-mobile {
        height: 250px;
    }

    .promo-text h2 {
        font-size: 28px;
    }

/* join-bunch-background */
    .join-bunch-background {
    width: 100vw; 
    position: relative;
    left: 50%;
    margin-left: -50vw; 
    height: auto;
    padding: 60px 20px;
    margin-top: 60px;
    box-sizing: border-box; 
}

.join-bunch-content {
    max-width: 1200px; 
    margin: 0 auto; 
    text-align: center;
}

.join-bunch-content h1 {
    font-size: 32px; 
}

.subscription-form {
    display: flex; 
    flex-direction: row;
    max-width: 500px;
    margin: 20px auto 0; 
}

.email-input,
.subscribe-button {
    width: 100%;
}

.email-input {
    flex-basis: 70%;  
}

.subscribe-button {
    flex-basis: 30%; 
}

    /* footer */
    .footer-content {
        flex-direction: column;
    }

    .footer-logo {
        margin-bottom: 20px;
    }
}